<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'View list', todos_path %></li>
  <li class="active"><%= link_to 'New todo', new_todo_path %></li>
</ul>

<h1>New todo</h1>

<%= render 'form' %>

<%= link_to 'Back', todos_path %>
